<ul>
{{ range .AllTranslations }}
<a href="{{ .RelPermalink }}" class="lang {{ if eq .Lang $.Lang }} current-language {{ else }} other-language {{ end }}">{{ .Language.LanguageName }}</a>  
{{ end }}
</ul>


