<div class="mt-xl footer">
    <div class="container">
        <div class="row justify-content-center">
            <ul class="nav nav-primary">
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.Params.license.Url }}">
			{{ .Site.Params.license.Text }} {{ .Site.Params.license.Name }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.Params.rss.Url }}">
                        {{ .Site.Params.rss.Name }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.Params.admin.Url }}">
                        {{ .Site.Params.admin.Name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
