<div class="banner">
</div>
<div class="mt-xl header">
    <div class="container">
        <div class="row justify-content-center logo">
          <a class="title" href="{{ .Site.BaseURL }}{{ .Language }}">
		La carette
		  <!--<img src="/{{ .Site.Params.logofile }}"></img>-->
              </a>
	      <br/>
	      <div>
	{{ partial "allLanguages" . }}
	      </div>
        </div>


        <div class="row justify-content-center">
            <ul class="nav nav-primary">
                {{ range .Site.Menus.primary.ByWeight }}
                <li class="nav-item">
                    <a class="nav-link{{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
                        {{ .Pre }}
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="row justify-content-center">
		<iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/les-ami-es-de-la-carette/collectes/achat-d-une-ferme-et-premiers-travaux/widget-bouton" style="width: 100%; height: 70px; border: none;"></iframe>
	</div>
	{{ if .Site.Params.announce.show }}
        <div class="row justify-content-center">
            <ul class="nav announce">
                    <a class="nav-link" href="{{ .Site.Params.announce.URL }}">
                        {{ .Site.Params.announce.Pre }}
                        {{ .Site.Params.announce.Name }}
                    </a>
            </ul>
        </div>
	{{ end }}
    </div>
</div>
