<ul class="list-unstyled">
    <li>
      <div class="item-wrapper">
      <div class="meta-data">
        <h2 class="meta-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="meta-date">
            <time>{{ .Date.Format (.Site.Params.dateform | default "02/01/2006") }}</time>
        </div>
      </div>
      <a href="{{ .Permalink }}"><img class="meta-img" src="{{ .Params.meta_img }}"></im></a>
      <span class="clear"></span>
      </div>
    </li>
</ul>
