{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-8">
			<!--<h1 class="mx-0 mx-md-4">{{ .Title }}</h1>-->
			<div class="markdown">
				{{ partial "content" . }}
			</div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
