{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">

                <div class="mx-0 mx-md-4 posts">
                    {{ range .Data.Pages.GroupByDate "2006" "desc"}}
                    {{ range sort .Pages "Date" "desc" }}
                    {{ partial "list" . }}
                    {{ end }}
                    {{ end }}
                </div>

            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}
{{ end }}
